h1 {
    text-align: center;
    color:red;
    background-color: black;
    border: solid;
}

p {
     text-align: end ;
    color:pink;
    background-color: black;
}

button {
    color: white;
    background-color: blue;
}

h2 {
    color:orange;
}

h3 {
    text-align: end;
}

