h1 {
    text-align: center;
    color:red;
    background-color: black;
    border: solid;
    text-decoration: wavy yellow underline;

}

p {
     text-align: end ;
    color:pink;
    background-color: black;
    font-weight: 400;
}

button {
    color: white;
    background-color: blue;
}

h2 {
    text-decoration: double blue overline;
    color:orange;
    font-weight: 800;
}

h3 {
    text-decoration: line-through;
    text-align: end;
}

